@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
}
:root {
  --deftextfamily: "Poppins";
  --defTextColor: #ffffff;
  --defElemBgColor: #3c3c3c;
  --defElemBgColorHover: #4a4a4a;
}

[container-box="grid"] {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
  background-color: #282828;
  box-sizing: border-box;
  padding-left: 2%;
  padding-right: 2%;
  color: var(--defTextColor);
  font-family: var(--deftextfamily);
}
.nav-bar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding-left: 10px;
  padding-right: 10px;
}
.menu-icon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-btn {
  width: 100px;
  height: 40px;
  background-color: var(--defElemBgColor);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 50ms ease-in-out;
  cursor: pointer;
}
#menu-img-icon {
  height: 25px;
  width: auto;
  filter: invert(1);
}
#Title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(93, 251, 227);
  font-size: 2.5rem;
}

.options {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.option-btn {
  width: 110px;
  height: 40px;
  background-color: var(--defElemBgColor);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 50ms ease-in-out;
  cursor: pointer;
}
#options-img-icon {
  height: 20px;
  width: auto;
}
.menu-btn:hover {
  transform: translateY(-5%);
  background-color: var(--defElemBgColorHover);
}
.option-btn:hover {
  transform: translateY(-5%);
  background-color: var(--defElemBgColorHover);
}

.mid-container {
  height: clamp(300px, 60%, 400px);
  /* height: 65%; */
  width: clamp(500px, 70%, 800px);
  background-color: var(--defElemBgColor);
  border-radius: 15px;
  margin-top: 30px;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  box-shadow: 0px 0px 20px 5px #00000057;
  justify-self: center;
}
.mid-container > div {
  background-color: var(--defElemBgColorHover);
  border: 1px solid rgb(99, 99, 99);
  margin: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 512px) {
  [container-box="grid"] {
    grid-template-rows: 80px 1fr;
    height: 100vh;
  }
  #Title {
    font-size: 2rem;
  }
  .option-btn p,
  .menu-btn p {
    display: none;
  }
  .option-btn,
  .menu-btn {
    width: 40px;
    border-radius: 20px;
  }
  .mid-container {
    margin: 20px;
    width: clamp(330px, 70%, 400px);
    height: clamp(400px, 85%, 600px);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
  }
}
.counter-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 2rem;
  transition: all 1000ms ease-in-out;
}
.time {
  display: flex;
  /* gap: 15px; */
  /* font-size: 2rem; */
}
.time div{
  position: relative;
  width: 60px;
  height: 50px;
  display:flex;
  justify-content: center;
  align-items:end;
}
.time div p:last-child{
  position: absolute;
  bottom: 10px;
  right: 0px;
  font-size: 0.6rem;
}
.counter-options {
  height: 30px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#reset-btn,
#play-pause-btn, #pause-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: all 50ms ease-in-out;
  cursor: pointer;
}
#reset-btn img,
#play-pause-btn img, #pause-btn img {
  height: 100%;
  aspect-ratio: 1;
  filter: invert(1);
}
#reset-btn img:hover,
#play-pause-btn img:hover, #pause-btn img:hover {
  transform: scale(110%);
}
.task-panel {
  display: flex;
  flex-direction: column;
  padding: 5px;
  min-height: 0;
  overflow: hidden;
}
.task-panel-header {
  height: 35px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-panel-header > input,
.task-panel-header > button {
  height: 90%;
  border-radius: 10px;
  border: none;
  font-family: var(--deftextfamily);
}
.task-panel-header > input{
  background-color: #616161;
  width: 70%;
  text-align: center;
  color: white;
  font-family: var(--deftextfamily);
}
.task-panel-header > button{
  background-color: rgba(103, 207, 255, 0.792);
  cursor: pointer;
}
.task-panel-header > button:hover{
  background-color: rgba(103, 207, 255, 0.635);
}
.task-panel-header > input::placeholder{
  color: #ffffffc1;
} 

.task-panel-content{
  min-height: 0;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-top: 15px;
  row-gap: 5px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent; /* transparent track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(194, 194, 194, 0.027); /* semi-transparent */
  border-radius: 10px;
}
#task-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(131, 129, 129);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 0.8rem;
  color: #e8e8e8;
}
.taskname-timing-box{
  display: flex;
  gap:10px;
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #333;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background: #5b5b5b;
  border-color: #575858;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(220, 219, 219);
}

.select-deselect-trash{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#task-div button{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding:0;
  overflow: hidden;
  background-color: transparent;
  border: none;
  transition: all 50ms ease-in-out;
  cursor: pointer;
}
#task-div button:hover{
  opacity: 0.8;
}
#task-div button img{
  height: 100%;
  aspect-ratio: 1;
}
#select-deselect{
  cursor: pointer;
  color: rgb(191, 235, 253);
}
.taskname-timing p:last-child{
  font-size: 0.7rem;
}